@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@model Admin.Models.AuthViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - DFCU TEST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-4 mx-auto mt-5">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Login</h1>
                            </div>
                        </div>
                        <form asp-action="login" method="post" name="login">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required value="hello@dfcu.com">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="Password" id="password" class="form-control" aria-describedby="passwordHelp" placeholder="Enter Password" required value="Admin123!">
                            </div>
                            <div class="form-group">
                                <p class="text-center">This is a preliminary interview test - Keith Tumusiime</p>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Register <a asp-action="register" asp-controller="Home">Here</a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DFCU TEST - Preliminary Interview Test</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
